.homepage_notices {
    font-size:1.5vw;
    text-align:center;
}

.review_headings {
    font-weight: bold;
    padding-top: 40px;
}

.table-responsive {
   display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.sidenav {
  background-color: #fda093 !important;
}
#lower_image { 
    vertical-align: bottom;
    display: table-cell;
}