{% extends 'base.html' %}
{% block content %}

<div class="row">
    <form action="{{ url_for('insert_admin_movie_update', movie_id=movie._id) }}" method="POST" class="col s6">
        <div class="row">
            <div class="input-field col s12">
                <input id="movie_name" name="movie_name" type="text" class="validate" value="{{movie.movie_name}}">
                <label for="movie_name">Movie Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="movie_releasedate" type="text" name="movie_releasedate" class="datepicker" value="{{movie.movie_releasedate}}">
                <label>Movie Release Date</label>
            </div>
        </div>
                <div class="row">
            <div class="input-field col s12">
                <input id="movie_overview" name="movie_overview" type="text" class="validate" value="{{movie.movie_overview}}">
                <label for="movie_overview">Movie overview</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select name="movie_category">
                    <option disabled selected>Choose your option</option>
                 {% for cat in categories %}
                      {% if cat.category_name == movie.movie_category  %}
                      <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                      {% else %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label>Movie Category</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="movie_reviewdate" type="text" name="movie_reviewdate" class="datepicker">
                <label>Movie Review Date</label>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                    {% if movie.has_been_reviewed %}
                          <input id="movie_has_been_reviewed" name="movie_has_been_reviewed" type="checkbox" checked>
                    {% else %}
                         <input id="movie_has_been_reviewed" name="movie_has_been_reviewed" type="checkbox">
                    {% endif%}
                  <span class="lever"></span>
                  Has Been Reviewed
                </label>
            </div>
        </div>
            <div class="input-field col s12">
                <input id="movie_urls" name="movie_urls" type="text" class="validate" value="{{movie.movie_urls}}">
                <label for="movie_urls">Links to Movie</label>
            </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Update Movie
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
{% endblock %}